In [ ]:
x=2
x='hello'
x=4
x=print(x)

4

#List constants

In [ ]:
print([1,24,76])
print(['red','yellow','blue'])
print(['red',24,98.6])
print([1,[5,6],7])
print([])

[1, 24, 76]
['red', 'yellow', 'blue']
['red', 24, 98.6]
[1, [5, 6], 7]
[]

###Lists and definite loops

In [ ]:
for i in ([5,4,3,2,1]):
  print(i)
print('Blastoff')

5
4
3
2
1
Blastoff

In [ ]:
friends=(['joseph','glenn','sally'])
for friend in friends:
  print('Happy new year',friend)
print('Done!')

Happy new year joseph
Happy new year glenn
Happy new year sally
Done!

#Looking inside Lists

In [ ]:
friends=(['joseph','glenn','sally'])
print (friends[1])

glenn

#Lists are mutable but strings are immutable(we cannot change the contents of a string-we must make a new string to make any changes)

In [ ]:
fruit='Banana'
fruit[0]='b'.
print(fruit)

TypeError: ignored

In [ ]:
fruit='Banana' #string
x=fruit.lower()
print(x)

banana

In [ ]:
lotto = ([2,14,26,41,63])
print(lotto)
lotto[2]=28 #lists are mutuable
print(lotto)

[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]

###How long is a List?

In [ ]:
greet='hello bob' #string
print(len(greet))
print('\n')

x=([1,2,'joe',99])
print(len(x))

9


4

###Using range function

In [ ]:
print(range(5)) #range function returns a list of numbers that range from zero to one less than the parameter

range(0, 5)

###Using range in a for loop

In [ ]:
friends=(['joseph','glenn','sally'])
for i in range(len(friends)):
  friend=friends[i]
  print('Happy new year',friend)

Happy new year joseph
Happy new year glenn
Happy new year sally

###Concatenating lists using +

In [ ]:
#we can create a new list by adding two existing  lists together
a=([1,2,3])
b=([4,5,6])
print(a)
print(b)
c=a+b
print(c)
d=([7,8])
print(c+d)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8]

###Lists can be sliced using :

In [ ]:
#just like in strings,the second number is "up to but not including"
t=[9,41,12,3,74,15]

t[1:3]

t[:4]

t[3:]

t[:]

#skip alternate number
t[::2]

[9, 12, 74]

###List Methods

In [ ]:
x=([1,2,3])
type(x)
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

###Building a list from scratch

In [ ]:
#we can create an empty list and then add elements using append method
#the list stays in order and new elements are added at the end of the list
stuff = list()
stuff.append('book')
stuff.append(10)
print(stuff)

stuff.append('cookie')
print(stuff)

stuff.remove(10)
print(stuff)

stuff.reverse()
print(stuff)

stuff.sort()
print(stuff)

stuff.insert(1,'15') #tanu is inserted at index 1
print(stuff)

num = stuff.count('15') #The count() method returns the number of times the specified element appears in the list.
print(num)

copy= stuff.copy()
print("copied list is",copy) #The copy() method returns a shallow copy of the list.

t=([1,2,3,4])
t.extend(stuff) #The extend() method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list.
print(t)

#Syntax: list_name.index(element, start, end)
#Parameters:
#element – The element whose lowest index will be returned.
#start (Optional) – The position from where the search begins.
#end (Optional) – The position from where the search ends.
#Return: Returns the lowest index where the element appears.

print(t.index(4,2,4))

removed_element = t.pop(2) #The list pop() method removes the item at the specified index. The method also returns the removed item.
print('removed element is ', removed_element)
print('updated list is ', t)

stuff.clear()
print(stuff)

['book', 10]
['book', 10, 'cookie']
['book', 'cookie']
['cookie', 'book']
['book', 'cookie']
['book', '15', 'cookie']
1
copied list is ['book', '15', 'cookie']
[1, 2, 3, 4, 'book', '15', 'cookie']
3
removed element is  3
updated list is  [1, 2, 4, 'book', '15', 'cookie']
[]

###Is something in a list?

In [ ]:
some = ([1,9,21,10,16,'string'])
9 in some

15 in some

20 not in some

'string' in some

True

#A list is an ordered sequence

In [ ]:
friends=(['joseph','glenn','sally'])
friends.sort() #alphabetically
print(friends)

print(friends[1])

numbers=([19,8,7,6,5,4,3])
numbers.sort()
print(numbers)

['glenn', 'joseph', 'sally']
joseph
[3, 4, 5, 6, 7, 8, 19]

###Built in functions and Lists

In [ ]:
nums=([3,41,12,9,74,15])
print(len(nums))

print(max(nums))

print(min(nums))

print(sum(nums))

print(int(sum(nums)/len(nums)))

6
74
3
154
25

###Best Friends: Strings and Lists

In [ ]:
abc='with three words' #strings
stuff = abc.split() #split breaks a string into parts produces a list of strings.we can think of these as a words. we can access a particular word.
print(stuff)                    #we have converted a string into list

print(len(stuff))

print(stuff[0])

['with', 'three', 'words']
3
with

###we can specify what delimiter character to use in the splitting

In [ ]:
line='A lot.             of spaces'
etc= line.split()
print(etc)
print(len(etc))
print('\n')

line='first;second;    third'
t= line.split() #by default whitespace is taken as delimiter
print(t)
print(len(t))
print('\n')

t=line.split(';')
print(t)
print(len(t))

['A', 'lot.', 'of', 'spaces']
4


['first;second;', 'third']
2


['first', 'second', '    third']
3